.search-container {
  padding: 80px 0;
  max-width: 700px;
  padding: 20px;
  background: #fff;
  border: 1px solid #f5f6f7;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
  color: black;
  animation: shadow-pop-br 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
  max-height: 90vh;
  overflow-y: auto;
}
.search-container h1 {
  text-align: center;
}

.form {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  gap: 10px;
}

.form-input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ffcb05;
  border-radius: 5px;
  outline: none;
  width: 250px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

button:hover {
  background-color: #f3b700;
}

.message-container {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.success-message {
  color: #4bb543;
  font-size: 18px;
  margin-top: 10px;
  border: 2px solid #4bb543;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.error-message {
  color: #ff0000;
  font-size: 18px;
  margin-top: 10px;
  border: 2px solid #ff0000;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gamescore-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.game-form {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.game-form h2 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-form h3 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding-left: 25px;
  padding-top: 10px;
}

.game-rohan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.game-form-rohan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
